
body{
background:url("https://res.cloudinary.com/decc6gd2d/image/upload/v1529176161/test.jpg");
}

#myTextArea{
width:80%;
height:30%;
}

.cool_desc{
padding:30px;
background:white;
height:20%;
}

.myImg{
width:90%;
height:50%;
}

.myContent{
float:left;
margin-left:5%;
height:100%;
}

#header{
color:brown;
background:white;
padding:2px;
text-align:center;
}
