*{
margin:0px;
padding:0px;
}

body{
background:url("https://res.cloudinary.com/decc6gd2d/image/upload/v1529176161/test.jpg");
}

#myTextArea{
width:80%;
height:30%;
}

.cool_desc{
padding:30px;
background:white;
height:20%;
}

#header{
color:brown;
background:white;
padding:2px;
text-align:center;
}
